{% extends 'headers/main.html' %}

{% block body %}
<style>
    html,
body {
  height: 100%;
}
body {
  font-family: Avenir;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}
* {
  box-sizing: border-box;
}
.inp {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 280px;
}
.inp .label {
  position: absolute;
  top: 16px;
  left: 0;
  font-size: 16px;
  color: #9098a9;
  font-weight: 500;
  transform-origin: 0 0;
  transition: all 0.2s ease;
}
.inp .border {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: #07f;
  transform: scaleX(0);
  transform-origin: 0 0;
  transition: all 0.15s ease;
}
.inp input {
  -webkit-appearance: none;
  width: 100%;
  border: 0;
  font-family: inherit;
  padding: 12px 0;
  height: 48px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid #c8ccd4;
  background: none;
  border-radius: 0;
  color: #223254;
  transition: all 0.15s ease;
}
.inp input:hover {
  background: rgba(34,50,84,0.03);
}
.inp input:not(:placeholder-shown) + span {
  color: #5a667f;
  transform: translateY(-26px) scale(0.75);
}
.inp input:focus {
  background: none;
  outline: none;
}
.inp input:focus + span {
  color: #003E6D;
  transform: translateY(-26px) scale(0.75);
}
.inp input:focus + span + .border {
  transform: scaleX(1);
}

.inp1 {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 280px;
}
.inp1 .label {
  position: absolute;
  top: 16px;
  left: 0;
  font-size: 16px;
  color: #9098a9;
  font-weight: 500;
  transform-origin: 0 0;
  transition: all 0.2s ease;
}
.inp1 .border {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: #07f;
  transform: scaleX(0);
  transform-origin: 0 0;
  transition: all 0.15s ease;
}
.inp1 input {
  -webkit-appearance: none;
  width: 100%;
  border: 0;
  font-family: inherit;
  padding: 12px 0;
  height: 48px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid #c8ccd4;
  background: none;
  border-radius: 0;
  color: #223254;
  transition: all 0.15s ease;
}
.inp1 input:hover {
  background: rgba(34,50,84,0.03);
}
.inp1 input:not(:placeholder-shown) + span {
  color: #5a667f;
  transform: translateY(-26px) scale(0.75);
}
.inp1 input:focus {
  background: none;
  outline: none;
}
.inp1 input:focus + span {
  color: #003E6D;
  transform: translateY(-26px) scale(0.75);
}
.inp1 input:focus + span + .border {
  transform: scaleX(1);
}

.inp2 {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 280px;
}
.inp2 .label {
  position: absolute;
  top: 16px;
  left: 0;
  font-size: 16px;
  color: #9098a9;
  font-weight: 500;
  transform-origin: 0 0;
  transition: all 0.2s ease;
}
.inp2 .border {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: #07f;
  transform: scaleX(0);
  transform-origin: 0 0;
  transition: all 0.15s ease;
}
.inp2 input {
  -webkit-appearance: none;
  width: 100%;
  border: 0;
  font-family: inherit;
  padding: 12px 0;
  height: 48px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid #c8ccd4;
  background: none;
  border-radius: 0;
  color: #223254;
  transition: all 0.15s ease;
}
.inp2 input:hover {
  background: rgba(34,50,84,0.03);
}
.inp2 input:not(:placeholder-shown) + span {
  color: #5a667f;
  transform: translateY(-26px) scale(0.75);
}
.inp2 input:focus {
  background: none;
  outline: none;
}
.inp2 input:focus + span {
  color: #003E6D;
  transform: translateY(-26px) scale(0.75);
}
.inp2 input:focus + span + .border {
  transform: scaleX(1);
}

.grid-container {
  display: grid;
  grid-template-columns: 150px 150px 150px 150px 150px;
  background-color: #000;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  text-align: center;
  width: 150px;
  height: 150px;
}

.grid-out {
  width: 0;
  height: 0;
}

#btn2 {
  width: 300px;
  height: 150px;
  color: white;
  display: block;
  position: relative;
  left: -140px;
  bottom: 140px;
}

.grid-out>button{
  width: 430px;
  height: 130px;
  margin: 5px 0 0 0;
  clear: both;
  border-radius: 10px;
  background-color: white;
  border: none;
}

</style>
<button onclick="setPlayers()">Only 2 players click here</button>

<div class="grid-container">
  <div class="grid-item" id="1"></div>
  <div class="grid-item" id="2"></div>
  <div class="grid-item" id="3"></div>  
  <div class="grid-item" id="4"></div>
  <div class="grid-item" id="5"></div>
  <div class="grid-item" id="16"></div>
  
  <div class="grid-out"></div>
  <div class="grid-out"></div>
  <div class="grid-out"></div> 
  
  <div class="grid-item" id="6"></div> 
  <div class="grid-item" id="15"></div> 
  
  <div class="grid-out" id="btn1"></div> 
  <div class="grid-out" id="btn2">
    <div id="aq" style="margin: 0; height: 0;">word</div> 
    <div id="dispturn" style="margin-left: 330px; height: 0;">turn 1</div><br>

    <button id="abtn1" onclick="awnser(1)">definition 1</button><br>
    <button id="abtn2" onclick="awnser(2)">definition 2</button><br>
    <button id="abtn3" onclick="awnser(3)">definition 3</button><br>
  </div> 
  <div class="grid-out" id="btn3"></div> 
  
  <div class="grid-item" id="7"></div> 
  <div class="grid-item" id="14"></div>
  
  <div class="grid-out"></div> 
  <div class="grid-out"></div> 
  <div class="grid-out"></div> 
  
  <div class="grid-item" id="8"></div> 
  <div class="grid-item" id="13"></div> 
  <div class="grid-item" id="12"></div> 
  <div class="grid-item" id="11"></div> 
  <div class="grid-item" id="10"></div> 
  <div class="grid-item" id="9"></div> 
</div>

</div>

Player 1:<p id="p1"></p>
Player 2:<p id="p2"></p>
Player 3:<p id="p3"></p>
<script>
var ajax = function(url, params, dump) {
    var xhr = new XMLHttpRequest();
    xhr.open("POST", url, true);
    xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    xhr.send(params);
    xhr.onreadystatechange = function() {
        if (xhr.readyState == XMLHttpRequest.DONE) {
            var response = xhr.responseText;
            return dump(response);
        }
    }
    //window.location.href = window.location.pathname + window.location.search + window.location.hash;
}
    var number;
    var currpointer = 1;
    function readyup(number) {
        var number1 = String(number-1)
        var url = '/readyupplayer/';
        currpointer = number1;
        var params = "playerNumber="+number+"&playerName="+document.getElementById("inp"+number1).value;
        ajax(url, params, next);
    }

    function family(response) {
        return temp111 = response;
    }

    function next(response) {
        var p = document.getElementById("player"+currpointer);
        var yy = document.getElementById("inp"+currpointer-1);
        if (response == "success") {
            p.style = "color: green;";
            p.innerHTML = response;
            var rel = document.getElementById("p"+currpointer);
            params = 'q='+currpointer;
            rel.innerHTML = ajax('/getQs/', params, family);
            rel.style.display = "none";
        }
        else if (response == "invalid"){
            p.style = "color: red";
            p.innerHTML = response;
        }
    }




var positions = [0, 0, 0]
window.points = [0, 0, 0]
var question = 0
var turn = 1
window.ppp = 3;

var setPlayers = function() {
    window.ppp = 2;
}

function move(player, roll) {
    var currentPosition = positions[player-1]
    if(currentPosition == 16 || (currentPosition == 15 && roll >= 2) || (currentPosition == 14 && roll >= 3)) {
      num = 16;
    }
    else if(currentPosition == 0) {
        currentPosition=1;
        num = 17;
    }
    else{
      num = 17;
    };
    newPosition = (currentPosition + roll)%num;
    positions[player-1] = newPosition;
    if ((player == 2 || player == 3) && window.fff == 2) {
        player--
    }
    else if (window.fff == 2){
        player+=2
    }
    document.getElementById(newPosition).innerHTML += "player"+String(player);
    console.log(currentPosition)
    document.getElementById(currentPosition).innerHTML = document.getElementById(currentPosition).innerHTML.replace("player"+String(player), '');
}

function rollAnimate(roll) {
  //alert(roll);
  //console.log(roll);
}

function stealAnimation() {
  alert("stolen");
}

function correctAnimation() {
  alert("good job")
}

function correct(player) {
  let roll = Math.floor((Math.random() * 3) + 1);
  rollAnimate(roll);
  move(player, roll);
  window.points[player-1] += 10
}

function incorrect(player) {
  stealAnimation();
  correct(player+1);
}
var q
function up(response) {
  if (response == 'done') {
      var top = 0;
      for (i; i<window.points.length; i++) {
        if (window.points[i] > top) {
          top = window.points[i]
        }
      }
      alert("player "+window.points.indexOf(String(top))+" wins!")
      window.location = '/Home'
    }
  else {
  var q = response;
  document.getElementById('aq').innerHTML = q.split("||")[0];
  document.getElementById('abtn1').innerHTML = q.split("||")[1];
  document.getElementById('abtn2').innerHTML = q.split("||")[2];
  document.getElementById('abtn3').innerHTML = q.split("||")[3];
}
}

function awnser(a) {
  let awnsera = document.getElementById("abtn"+a).innerHTML;
  ajax('/answer/', "ans="+awnsera+"&q="+question, function(dump) {
    if (dump == 'true') {
      correctAnimation();
      correct(turn);
    }
    else {
      if (document.getElementById('aq').innerHTML != 'done') {
      incorrect(turn);}
      else{
          alert("done")
      }
    }
  });
  question++;
  ajax('/getQs/', 'q='+question, up);
  turn++;
  if (turn == window.ppp+1) {
    turn = 1
  }
  document.getElementById('dispturn').innerHTML = "turn:"+turn;
  document.getElementById('p1').innerHTML = window.points[0];
  document.getElementById('p2').innerHTML = window.points[1];
  if (window.ppp !=2) {document.getElementById('p3').innerHTML = window.points[2];}
}










</script>

{% endblock %}