{% extends 'headers/main.html' %}

{% block body %}
<div class="container" style="margin-top:15px">
        <ul>
        <li>
            There will be questions pop up. Have the player specified awnser it.
        </li>
        <li>
            If you get the right awnser you will advance on the game board
        </li>
        <li>
            If you get it wrong you will not get any points and the player after you will advance on the board and gain points.
        </li>
        <li>
            If there are 2 players select the 2 player btn
        </li>
    </ul>
</div>
{% endblock %}